@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Rubik+Microbe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body {
    background-color: #ebebeb;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* HEADER SECTION  */

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 25px;
}

.logo h1 {
    font-size: 25px;
    font-family: 'Comic Neue', cursive;
}

.nav {
    margin-left: -1rem;
}

.nav ul li {
    display: inline;
    padding-left: 20px;
}

.nav ul li a {
    color: #000;
    font-size: 16px;
    font-family: sans-serif;
}

.account-icon {
    font-size: 20px;
}

.account-icon i {
    margin-left: 20px;
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1vw 0.5vw;
    width: 96vw;
}

.header input {
    height: 4vh;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    width: 28vw;
}

.button1 {
    font-weight: 600;
    margin-left: 55vw;
    margin-right: 1.5vw;
    text-align: center;
    border: 2px solid black;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;
}

.account-icon {
    font-size: 20px;
}
.account-icon i {
    margin-left: 20px;
    cursor: pointer;
}

/* FILTERS START */
.dropdown {
    width: 51vw;
    display: none;
    /* opacity: 0; */
    text-align: center;
    background-color: #c9c7c7;
    position: absolute;
    top: 9vw;
    right: 1vw;
    padding: 2vw 2vw;
    border-radius: 30px;
    flex-wrap: wrap;
}

.dropdown div div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 17vw;
    margin: 10px auto;
}

.dropdown div h2 {
    text-align: center;
    width: 106px;
    margin: 0px 28px 20px;
}

.dropdown div div h4 {
    width: 70px;
}

.dropdown div div input {
    cursor: pointer;
    width: 70px;
}

.show{
    display: flex;
}

/* FILTERS END*/


/* Main Section */
.main {
    margin: 2vw 1vw;
    background-color: white;
    height: 13vw;
}

.main p {
    padding: 3.5vw 2vw 1vw;
}

.main h2 {
    padding: 0vw 2vw 1vw;
    font-size: 37px;
}

/* Main Section */

/* PRODUCTS STARTS */

.products{
    display: flex;
    justify-content: space-between;
    margin: 1vw 0;
    flex-wrap: wrap;
}

.product-cards{
    width: 17vw;
    /* width: fit-content; */
    margin: 1vw;
    background-color: white;
    transition: box-shadow 0.7s;
}

.product-cards:hover{
    box-shadow: 15px 15px 20px #c9c7c7;
}

.product-cards img{
    width: 16vw;
    height: 25vw;
    display: flex;
    margin: auto;
}

.product-cards h3{
    margin: 0.7vw auto;
}

.rating{
    display: flex;
    margin: 0.5vw auto;
    width: fit-content;
}

.pricing{
    display: flex;
    justify-content: center;
    margin: 0.5vw 0;
}

.price-tag{
    font-size: 30px;
}

.checked{
    color: orange;
}

/*  PRODUCTS ENDS */